.palette-section {
  background: white;
}

.diagram-section {
  grid-column-start: 2;
  grid-column-end: 7;
}

.flowchart-section {
  display: grid;
  width: 100%;
  background: red;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  height: 100%;
}
