.signup-card {
  width: 80%;
  margin: 10rem auto;
  padding: 40px 20px;
  background-color: #673ab721;
}

mat-form-field,
textarea {
  width: 100%;
}
mat-spinner {
  margin: auto;
}

@media screen and (min-width: 768px) {
  .signup-card {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .signup-card {
    width: 30%;
  }
}
