<main class="page">
  <section class="programming-area">
    <py-repl class="repl-area">
      {{ codeStoredInDatabase }}
    </py-repl>
    <py-terminal class="terminal"></py-terminal>
  </section>
  <section class="menu-area">
    <div class="buttons">
      <button class="execute"(click)="execute()">
        Executar
      </button>
      <button class="save" (click)="save()">
        Guardar
      </button>
    </div>
  </section>
  <!-- <py-repl></py-repl> -->
  <!-- <canvas
    id="flowchartCanvas"
    width="200"
    height="100"
    style="border: 1px solid #000000"
  >
  </canvas> -->
</main>