<main class="page" *ngIf="userIsAuthenticated">
  <section class="programming-area">
    <mat-tab-group
      #tabGroup
      [(selectedIndex)]="selectedTabIndex"
      
      (selectedIndexChange)="tabChanged($event)"
    >
      <mat-tab [preserveContent]="true" label="Enunciado">
        <div *ngIf="selectedExercise">
          <h2>{{ selectedExercise.id }}</h2>
          <p>{{ selectedExercise.text_code }}</p>
        </div>
      </mat-tab>
      <mat-tab [preserveContent]="true" label="Pseudocódigo">
        <ngx-codemirror
          [(ngModel)]="pseudoCode"
          [options]="pseudoCodeOptions"
          (ngModelChange)="handleChange($event)"
        ></ngx-codemirror>
      </mat-tab>
      <mat-tab [preserveContent]="true" label="Código">
        <py-repl class="repl-area"> {{ code }} </py-repl>
      </mat-tab>
      <mat-tab [preserveContent]="true" label="Fluxograma">
        <ng-template matTabContent>
          <app-flowchart></app-flowchart>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
    <py-terminal *ngIf="!hideTerminal" class="terminal"></py-terminal>
  </section>
  <section class="menu-area">
    <div class="buttons">
      <button class="execute" (click)="execute()">Executar</button>
      <button class="save" (click)="savePseudocode()">Guardar</button>
    </div>
  </section>
</main>
