<main class="page" *ngIf="userIsAuthenticated">
  <section class="programming-area">
    <mat-tab-group
      preserveContent
      #tabGroup
      [(selectedIndex)]="selectedTabIndex"
      (selectedIndexChange)="tabChanged($event)"
    >
      <mat-tab label="Enunciado">
        <div class="exercise-wrapper" *ngIf="selectedExercise">
          <h2>Exercício {{ selectedExercise.id }}</h2>
          <p>{{ selectedExercise.text_code }}</p>
        </div>
      </mat-tab>
      <mat-tab label="Pseudocódigo">
        <ngx-codemirror
          [(ngModel)]="pseudoCode"
          [options]="pseudoCodeOptions"
          (ngModelChange)="handleChange($event)"
        ></ngx-codemirror>
      </mat-tab>
      <mat-tab label="Código">
        <py-repl class="repl-area"> {{ code }} </py-repl>
      </mat-tab>
      <mat-tab label="Fluxograma">
        <ng-template matTabContent>
          <app-flowchart></app-flowchart>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
    <py-terminal *ngIf="!hideTerminal" class="terminal"></py-terminal>
  </section>
  <section class="menu-area">
    <div class="buttons">
      <button
        *ngIf="selectedTabIndex === tabsIndex.CODE"
        class="execute"
        (click)="execute()"
      >
        Executar
      </button>
      <button
        *ngIf="selectedTabIndex !== tabsIndex.EXERCISE"
        class="save"
        (click)="save()"
      >
        Guardar
      </button>
    </div>
  </section>
</main>
